.feed{
    display:flex;
    flex-grow: 1;
    height: 100vh;
    padding-bottom: 11rem;
    padding-top: 1.5rem;
    margin-right: 1rem;
    overflow-y: auto;
    

}
.feed::-webkit-scrollbar{
    display:none;
}

.feed_posts{
    margin-right: auto;
    margin-left:auto;
    max-width: 28rem;
}
@media screen and (min-width: 768px) {
    .feed_posts{
        max-width: 32rem;
    }
}

@media  screen and (min-width:1024px){
    .feed_posts{
        max-width:42rem;
    }

}

@media screen and (min-width:1280px){
    .feed{
        margin-right: 10rem;
    }
}



/* INPUTBOX */

.postbox{
    background-color: white;
    border-radius:0.75rem;
     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
     color: rgba(107, 114, 128);
     font-weight: 500;
     margin-top: 1.5rem;
     padding: 0.5rem;

}

.postbox_image{
    display: flex;
    padding: 1rem;
    align-items:center;


}
.postbox_image >img{
    margin-right: 1rem;
    border-radius:9999px;
}
.postbox_image >form{
    display: flex;
    flex:110%;
}
.input{
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 9999px;
    height: 2.5rem;
    background-color:rgba(243, 244, 246);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display:flex;
    flex-grow: 1;
}

/* the image which we choose to post */
.imageviewer{
display:flex;
flex-direction:column;
justify-content:center;
align-items: center;
cursor: pointer;
transition: all 0.1s ease-in;

}
.imageviewer_img{
    height:3rem;
    object-fit: contain;
}
.imageviewer_remove{
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(239, 68, 68);
    font-weight: 600;
}

.imageviewer:hover{
    transform: scale(1.1);
    filter: brightness(0.70);
    
}


.icon_container{
    display:flex;
    justify-content:space-evenly;
    padding: 0.5rem;
    border-top-width:1px;
}
.icon_container_child{
  display:flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  justify-content:center;
  padding:0.5rem;
  border-radius: 0.75rem;
  

    
}
.icon_container_childtext{
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: 0.24rem;
}

.icon_container_child:hover{
    background-color: rgba(243, 244, 246);

}
.CameraIcon{
height: 1.75rem;
color: rgba(16, 185, 129);
}

.videoicon{
height: 1.75rem;
color: rgba(220, 38, 38);
}

.emoji{
    height: 1.75rem;
    color: rgba(251, 191, 36);
}