.container{
    display:grid ;
    place-items: center ;
    padding: 50px;

}
.button{
    background-color:rgba(42, 42, 243, 0.652);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}